.chart-container{
  width: 1069px;
  height: 434px;
}

.chart-canvas {
float:left;
width: 356px;
height: 144px;
border: 2px solid black;
}

.zoom {
    /* padding: 50px; */
    background-color: grey;
    transition: transform .2s; /* Animation */
    /* width: 100%;
    height: 100%; */
    /* margin: 0 auto; */
}

.zoom:hover {
    transform: scale(2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.notes{
  border: 2px solid black;
  height: 434px;
  width: 1069px;
}

/* .inner {display:table-cell;}
.outer {display:table;}
.middle {display:table-row;} */
